/logs/*
/.settings/*
/target/*
/.classpath
/.project
/error.log
/rar/*
/mail.log
/catalina.home_IS_UNDEFINED/*
/rar_repo/*

/conf/*
/db/*
/locks/*
/format
/svn.ico
/Desktop.ini
/post-commit.tmpl
/post-lock.tmpl
/post-revprop-change.tmpl
/post-unlock.tmpl
post-commit.tmpl
post-lock.tmpl
post-revprop-change.tmpl
post-unlock.tmpl
pre-commit.tmpl
pre-lock.tmpl
pre-revprop-change.tmpl
pre-unlock.tmpl
README.txt
rar_repo
start-commit.tmpl
/.svn/*